<%- include('./partials/header')%>
<div class="header">
    <nav>
        <ul>
            <li><a href="https://www.instagram.com/wonderland_trove"><i class="fab fa-instagram"></i></a></li>
            <li><a href="/"><h3>Home</h3></a></li>
            <li><a href="/about"><h3>About <i class="fas fa-tree"></i></h3></a></li>
            <li><a href="/shop"><h3>Shop</h3></a></li>
            <li><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>
</div>
<main>
    <div class="content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro mollitia vel modi deserunt! Quibusdam mollitia, sed ad vitae provident vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus suscipit commodi et doloribus! Consequuntur, perspiciatis quia, consectetur id placeat iure nesciunt dolore esse ut est, provident fuga excepturi mollitia eveniet.  </p>
        <div class="showcase">
            <img src="/images/carousel1.png">
            <img src="/images/carousel2.png">
            <img src="/images/carousel3.png">
            <img src="/images/carousel1.png">
            <img src="/images/carousel2.png">
            <img src="/images/carousel3.png">
        </div>
        <h2>What is Pyrography?</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, minima! Neque consequatur porro, ad quis earum maiores magnam repellendus, totam mollitia perferendis esse quae fugit! Minus quas laudantium libero molestiae?</p>
        <div class="standout">
            <h2>Custom Orders</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perferendis totam sit vitae odit minima at architecto sed! Quia, repudiandae!</p>
            <form action="mailto:sjcrawf93@gmail.com" method="POST" enctype="multipart/form-data" name="EmailForm">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email"><br><br>
                Your message: <br><br>
                <textarea name="ContactComment" rows="10" cols="40"></textarea><br><br>
                <input type="submit" value="Submit">
              </form>
        </div>
        <h2>What is Pyrography?</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, minima! Neque consequatur porro, ad quis earum maiores magnam repellendus, totam mollitia perferendis esse quae fugit! Minus quas laudantium libero molestiae?</p>
    </div>
</main>
<%- include('./partials/footer')%>