<%- include('./partials/header')%>
<nav>
    <ul>
        <li><a href="https://www.instagram.com/wonderland_trove"><i class="fab fa-instagram"></i></a></li>
        <li><a href="/"><h3>Home <i class="fas fa-tree"></i></h3></a></li>
        <li><a href="/about"><h3>About</h3></a></li>
        <li><a href="/shop"><h3>Shop</h3></a></li>
        <li><i class="fas fa-shopping-basket"></i></li>
    </ul>
</nav>
<main>
    <div class="hero-page">
        <div class="hero">
            <h1>Wonderland Trove</h1>
            <h3>Pyrography on wood and bone plus other whimsical curiosities and oddities.</h3>
            <div class="cta">
                <a href="/shop"><button id="shop">Shop</button></a>
                <a href="/about"><button id="about">About</button></a>
            </div>
        </div>
        <div class="hero-image">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <img src="/images/carousel1.png">
                    </div>
                    <div class="slide">
                        <img src="/images/carousel2.png">
                    </div>
                    <div class="slide">
                        <img src="/images/carousel3.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer')%>