<%- include('./partials/header')%>
<nav>
    <ul>
        <li><a href="https://www.instagram.com/wonderland_trove"><i class="fab fa-instagram"></i></a></li>
        <li><a href="/"><h3>Home</h3></a></li>
        <li><a href="/about"><h3>About</h3></a></li>
        <li><a href="/shop"><h3>Shop <i class="fas fa-tree"></i></h3></a></li>
        <li><i class="fas fa-shopping-basket"></i></li>
    </ul>
</nav>
<main>
</main>
<%- include('./partials/footer')%>