@font-face {
    font-family: Figment Force;
    src: url(/fonts/figment-force.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carme', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

h1 {
    font-family: Figment Force;
}

p {
    text-align: justify;
}

a {
    color: #412234;
    justify-content: center;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

i:hover {
    color: #949461;
    cursor: pointer;
}

button {
    font-size: 24px;
    height: 45px;
    padding: 0 1.5em;
    margin: 1em;
    border-radius: 10px;
    background-color: #f4eae0;
    color: #412234;
    border: 1px solid #412234;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav {
    display: flex;
    background-color: #f4eae0;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

nav ul {
    height: 50%;
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
}

.hero-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero-page .hero, .hero-page .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
     /* padding: 3em; */
     text-align: center;
     max-width: 60ch;
}

.hero > * {
    margin: 0.5em;
}

.cta {
    flex-direction: row;
}


.fa-instagram, .fa-shopping-basket {
    color: #412234;
    font-size: 24px;
}

.img { 
    width: 350px;
    height: 200px;
    background-color: blue;
}

.slider {
    margin: 0.5em auto;
    overflow: auto;
    width: 350px;
    height: 200px;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide {
    margin: 0 15px;
}