:root {
 --main: #432818;
 --second: #949461;
 --light: #f4eae0;
}

@font-face {
    font-family: Figment Force;
    src: url(/fonts/figment-force.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carme', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--light);
}

h1 {
    font-family: Figment Force;
}

h3 {
    line-height: 30px;
}

p {
    text-align: justify;
}

a {
    color: var(--light);
    justify-content: center;
    align-items: center;
}

a:hover {
    cursor: pointer;
    color: var(--second);
}

i:hover {
    color: var(--second);
    cursor: pointer;
}

button, input[type="submit"] {
    font-size: 24px;
    height: 45px;
    padding: 0 1.5em;
    margin: 1em;
    border-radius: 10px;
    background-color: var(--main);
    color: var(--light);
    border: 1px solid var(--main);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

button:hover {
    cursor: pointer;
    background-color: var(--second);
    border: 1px solid var(--second);
}

nav {
    display: flex;
    background-color: var(--main);
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav ul {
    height: 50%;
    padding: 0em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
    font-size: 18px;
}

nav a {
    text-decoration : none;
}

.fa-tree {
    color: var(--second);
    font-size: 24px;
    margin-left: 0.5ch;
    position: absolute;
}

nav a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 556px) {
    .hero {
        max-width: 60ch;
    }
}


@media only screen and (max-width: 556px) {
    nav ul {
        flex-direction: column;
        width: 80%;
        height: 220px;
        align-items: center;
    }

    .hero {
        max-width: 30ch;
    }

    h1 {
        font-size: 1.9em;
    }

    h3, li {
        font-size: 0.9em;
    }

    button {
        font-size: 1.2em;
    }

    .hero-page {
        justify-content: flex-start;
    }

    .hero {
        max-width: 50ch;
    }

}

@media only screen and (max-width: 900px) and (min-width: 556px) {
    nav ul {
        height: 70px;
        width: 80%;
        align-items: center;
        flex-direction: row;
    }
        
}

@media only screen and (max-width: 900px) {
    body {
        flex-direction: column;
    }

    .hero-page {
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-page:first-child {
        padding: 4em 0em;
    };

    main {
        width: 100%;
    }

}

@media only screen and (min-width: 1472px) {
    .slider, .slider img {
        width: 30rem;
    }
}

@media only screen and (max-width: 1472px) {
    .slider, .slider img {
        width: 22rem;
    }
}

@media only screen and (max-width: 1472px) and (min-width: 900px) {
    .hero-page {
        flex-direction: column;
        justify-content: center;
    }

    .hero-page {
        padding-top: 5em;
    }
}

@media only screen and (min-width: 900px) {
    .hero-page {
        justify-content: space-evenly;
    }

    nav {
        height: 100vh;
        position: fixed;
        z-index: 1;
        width: 15%;
    }

    main {
        width: 85%;
        z-index: 0;
        position: relative;
        left: 15%;
    }
}


.hero-page {
    display: flex;
    align-items: center;
    height: 100%;
}

main {
    background-color: var(--light);
    height: 100vh;
}

.content {
    margin: 5em auto;
    width: 85%;
    max-width: 70ch;
}

.content h2 {
    margin-bottom: 1em;
    font-family: Figment Force;
}

.content p {
    margin-bottom: 4em;
    line-height: 28px;
    margin-left: 2em;
}

.hero {
     text-align: center;
}

.hero > * {
    margin: 0.5em;
}

.cta {
    flex-direction: row;
}


.fa-instagram, .fa-shopping-basket {
    color: var(--light);
    font-size: 24px;
}


.slider img { 
    height: auto;
}


.slider {
    margin: 0.5em auto;
    overflow: auto;
    height: auto;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.slide {
    margin: 0 15px;
}

@media only screen and (max-width: 997px) and (min-width: 900px) {
    .showcase {
        grid-template-columns: 150px 150px 150px;
    }

    .showcase img {
        width: 150px;
    }
}

@media only screen and (min-width: 997px) {
    .showcase {
        grid-template-columns: 200px 200px 200px;
    }

    .showcase img {
        width: 200px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 775px) {
    .showcase {
        grid-template-columns: 200px 200px 200px;
    }

    .showcase img {
        width: 200px;
    }
}

@media only screen and (max-width: 775px) and (min-width: 565px) {
    .showcase {
        grid-template-columns: 200px 200px;
    }

    .showcase img {
        width: 200px;
    }
}


@media only screen and (max-width: 565px) {
    .showcase {
        grid-template-columns: 150px 150px;
    }

    .showcase img {
        width: 150px;
    }
}

.showcase {
    display: grid;
    margin: 3em auto;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: center;
}

.showcase img {
    position: relative;
}

.standout {
    padding: 5em;
    margin: 3em;
    background-color: var(--second)
}


textarea {
    max-width: 100%;
}